Repository enveng-group/dev_greenova: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, eslint

Path conditions:
  safety-check: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$

feat: update development tooling and configuration
  .editorconfig
  .env.vault
  .github/.copilot-codeGeneration-instructions.md
  .github/.copilot-review-instructions.md
  .github/copilot-instructions.md
  .github/prompts/code-review.prompt.md
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  docs/TODO.md
  docs/templates/code-review-feedback.md
  requirements.txt
Due: none

feat: enhance development environment and code quality tooling
  .editorconfig
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  .pylintrc
  .pylintrc-django
  .pyrightconfig.json
  .vscode/settings.json
  .vscode/tasks.json
  0002_auto_add_responsibility.py
  ACKNOWLEDGEMENTS.md
  constraints.txt
  docs/TODO.md
  global/admin.py
  global/models.py
  greenova/obligations/admin.py
  greenova/obligations/forms.py
  greenova/obligations/models.py
  greenova/obligations/templates/obligations/form.html
  greenova/obligations/views.py
  greenova/responsibility/models.py
  isort.cfg
  mypy.ini
  pyproject.toml
  pythonstartup
  requirements.txt
  tools/__init__.py
  tools/pre_commit/__init__.py
  tools/pre_commit/pre_commit_wrapper.py
  tools/pre_commit/test_pre_commit_wrapper.py
  tools/pylint/__init__.py
  tools/pylint/fix_good_names.py
  tools/pylint/gevent_checker.py
Due: safety-check

chore: update development configuration and tooling
  .env.vault
  .gitignore
  .pylintrc-django
  .vscode/settings.json
  pyproject.toml
  setup.cfg
  tools/pre_commit/test_pre_commit_wrapper.py
Due: safety-check

Add makefile.md and setup_py.md documentations.
  MAKEFILE.md
  SETUP_PY.md
Due: none

feat: enhance development tooling and code quality checks
  .editorconfig
  .env.vault
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  .pylintrc
  .pylintrc-django
  .pyrightconfig.json
  .vscode/settings.json
  .vscode/tasks.json
  ACKNOWLEDGMENTS.md
  constraints.txt
  docs/TODO.md
  docs/templates/code-review-feedback.md
  isort.cfg
  mypy.ini
  pyproject.toml
  pythonstartup
  requirements.txt
  setup.cfg
  tools/__init__.py
  tools/pre_commit/__init__.py
  tools/pre_commit/pre_commit_wrapper.py
  tools/pre_commit/test_pre_commit_wrapper.py
  tools/pylint/__init__.py
  tools/pylint/fix_good_names.py
  tools/pylint/gevent_checker.py
Due: safety-check

chore(deps): update Python dependencies for compatibility
  constraints.txt
  requirements.txt
Due: none

Refactor pre-commit configuration and update project settings
  .pre-commit-config.yaml
  .vscode/settings.json
  greenova/manage.py
  greenova/projects/tests.py
  greenova/users/tests.py
Due: safety-check

docs(resources): reorganize documentation structure
  .devcontainer/devcontainer.json
  .github/.copilot-review-instructions.md
  .github/prompts/technical-writing.prompt.md
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .pre-commit-config.yaml
  MAKEFILE.md
  SETUP_PY.md
  docs/resources/config/data/protobuf.md
  docs/resources/config/dotenv.md
  docs/resources/config/editorconfig.md
  docs/resources/css/pico.md
  docs/resources/css/tailwind.md
  docs/resources/hyperscript.md
  docs/resources/js/htmx.md
  docs/resources/js/hyperscript.md
  docs/resources/makefile.md
  docs/resources/py/django/django-cors-headers.md
  docs/resources/py/django/django-debug-toolbar.md
  docs/resources/py/django/django.md
  docs/resources/py/jinga2.md
  docs/resources/py/matplotlib.md
  docs/resources/py/mypy.md
  docs/resources/py/python.md
  docs/resources/py/setuptools/setup-py.md
  docs/resources/py/setuptools/setuptools.md
  docs/resources/python/django/django.md
  docs/resources/tools/fish.md
  docs/resources/tools/github-cli.md
  docs/templates/code-review-feedback.md
Due: none

feat: enhance dashboard and project UI components
  greenova/core/templates/core/components/theme_switcher.html
  greenova/dashboard/templates/dashboard/dashboard.html
  greenova/dashboard/templates/dashboard/partials/dashboard_content.html
  greenova/dashboard/templates/dashboard/partials/overdue_count.html
  greenova/dashboard/views.py
  greenova/projects/templates/projects/components/role_badge.html
  greenova/projects/templates/projects/projects_selector.html
  greenova/projects/views.py
  greenova/templates/base.html
Due: safety-check

feat: enhance user profiles and UI components
  .bandit
  .envrc
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  greenova/chatbot/templates/chatbot/chat_widget.html
  greenova/core/constants.py
  greenova/core/templatetags/core_tags.py
  greenova/dashboard/templates/dashboard/dashboard.html
  greenova/dashboard/views.py
  greenova/projects/templates/projects/projects_selector.html
  greenova/static/js/theme-init.js
  greenova/templates/base.html
  greenova/users/views.py
Due: safety-check, eslint

chore(config): update development tool configurations
  .gitattributes
  .markdownlint-cli2.jsonc
  .vscode/settings.json
Due: none

Add MAKEFILE.md and SETUP_PY.md documentations
  .devcontainer/devcontainer.json
  .gitattributes
  .github/.copilot-review-instructions.md
  .github/prompts/technical-writing.prompt.md
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .pre-commit-config.yaml
  .vscode/settings.json
  docs/resources/config/data/protobuf.md
  docs/resources/config/dotenv.md
  docs/resources/config/editorconfig.md
  docs/resources/css/pico.md
  docs/resources/css/tailwind.md
  docs/resources/hyperscript.md
  docs/resources/js/htmx.md
  docs/resources/js/hyperscript.md
  docs/resources/makefile.md
  docs/resources/py/django/django-cors-headers.md
  docs/resources/py/django/django-debug-toolbar.md
  docs/resources/py/django/django.md
  docs/resources/py/jinga2.md
  docs/resources/py/matplotlib.md
  docs/resources/py/mypy.md
  docs/resources/py/python.md
  docs/resources/py/setuptools/setup-py.md
  docs/resources/py/setuptools/setuptools.md
  docs/resources/python/django/django.md
  docs/resources/tools/fish.md
  docs/resources/tools/github-cli.md
  docs/templates/code-review-feedback.md
Due: none

delete: remove backup of _obligations_summary.html
  greenova/obligations/templates/obligations/components/_obligations_summary copy.html
Due: none

update
  .devcontainer/.devcontainer.json.bak
  .devcontainer/Dockerfile
  .devcontainer/constraints.txt
  .devcontainer/docker-compose.yml
  .devcontainer/post_start.sh
  .devcontainer/post_start.sh.bak
  .devcontainer/run.sh
Due: none

refactor: improve data containers
  greenova/dashboard/templates/dashboard/dashboard.html
  greenova/dashboard/templatetags/dashboard_tags.py
  greenova/projects/templates/projects/projects_selector.html
Due: safety-check

feat(ui): update obligation container - move to procedures page and filter with mechanics_id
  greenova/dashboard/templates/dashboard/dashboard.html
  greenova/mechanisms/views.py
  greenova/obligations/templates/obligations/components/_obligations_summary copy.html
  greenova/obligations/templates/obligations/components/_pagination.html
  greenova/obligations/views.py
  greenova/procedures/templates/procedures/procedure_charts.html
  greenova/projects/templates/projects/projects_selector.html
Due: safety-check

fix: overdue obligations - create correct backend logic to return total overdue obligations
  greenova/dashboard/templates/dashboard/dashboard.html
  greenova/dashboard/urls.py
  greenova/dashboard/views.py
  greenova/obligations/urls.py
  greenova/obligations/views.py
Due: safety-check

update: overdue obligations backend
  greenova/dashboard/templates/dashboard/dashboard.html
  greenova/dashboard/templates/dashboard/profile.html
  greenova/dashboard/urls.py
  greenova/dashboard/views.py
Due: safety-check

feat(ui): improvements
  greenova/dashboard/templates/dashboard/dashboard.html
  greenova/obligations/templates/obligations/components/_obligations_summary.html
  greenova/obligations/views.py
  greenova/projects/models.py
  greenova/projects/views.py
Due: safety-check

put akp in dockerfile
  .devcontainer/Dockerfile
  .devcontainer/post_start.sh
Due: none

Fixing Issues - Fixed Git Files - Fixed EnvVault
  .env.vault
  .gitignore
  greenova/.env.vault
  greenova/.gitignore
Due: none

refactor(ui): merge django static/css into theme/static/src to allow tailwindcss to handle all css
  .pre-commit-config.yaml
  greenova/dashboard/templates/dashboard/partials/dashboard_content.html
  greenova/dashboard/templates/dashboard/partials/overdue_count.html
  greenova/dashboard/views.py
  greenova/greenova/settings.py
  greenova/projects/templates/projects/projects_selector.html
  greenova/static/css/styles.css
  greenova/static/css/themes/dark.css
  greenova/static/css/vendor/pico-classless.min.css
  greenova/templates/base.html
  greenova/theme/static_src/package.json
  greenova/theme/static_src/src/base.css
  greenova/theme/static_src/src/components/breadcrumbs.css
  greenova/theme/static_src/src/components/button.css
  greenova/theme/static_src/src/components/card.css
  greenova/theme/static_src/src/components/charts.css
  greenova/theme/static_src/src/components/chat.css
  greenova/theme/static_src/src/components/chatbot.css
  greenova/theme/static_src/src/components/company.css
  greenova/theme/static_src/src/components/filter.css
  greenova/theme/static_src/src/components/form.css
  greenova/theme/static_src/src/components/list.css
  greenova/theme/static_src/src/components/navigation.css
  greenova/theme/static_src/src/components/obligations.css
  greenova/theme/static_src/src/components/pagination.css
  greenova/theme/static_src/src/components/user-profile.css
  greenova/theme/static_src/src/defines/colours.css
  greenova/theme/static_src/src/defines/design.css
  greenova/theme/static_src/src/styles.css
  greenova/theme/static_src/src/themes/dark.css
  greenova/theme/static_src/src/themes/light.css
  greenova/theme/static_src/src/vendor/pico-classless.min.css
  greenova/theme/templates/base.html
Due: safety-check

fix: resolve responsibility dropdown functionality in obligation form
  docs/templates/code-review-feedback.md
Due: none

refactor(structure): reorganize docs and update core signals
  docs/resources/git/git-repository-management.md
  greenova/core/signals.py
Due: safety-check

test(testing): expand test coverage across multiple Django apps
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/settings.json
  conftest.py
  docs/TESTING.md
  docs/resources/py/python.md
  greenova/authentication/test_authentication.py
  greenova/chatbot/test_chatbot.py
  greenova/company/test_company.py
  greenova/core/test_core.py
  greenova/dashboard/test_dashboard.py
  greenova/greenova/test_greenova.py
  greenova/landing/test_landing.py
  greenova/mechanisms/test_mechanisms.py
  greenova/obligations/test_obligations.py
  greenova/procedures/test_procedures.py
  greenova/responsibility/templatetags/responsibility_tags.py
  greenova/responsibility/test_responsibility.py
  requirements.txt
Due: safety-check

test(users): update user testing and IDE configuration
  .vscode/settings.json
  greenova/users/test_users.py
Due: safety-check

docs(config): update environment configuration documentation and vault
  .env.vault
  docs/ARCHITECTURE.md
  docs/resources/config/dotenv.md
Due: none

feat(landing): enhance landing page with improved structure and content
  greenova/landing/templates/landing/index.html
Due: none

Create Deleteme.md
  docs/Deleteme.md
Due: none

Add untracked files to .gitignore
  .gitignore
Due: none

Update Makefile, fix import_obligations.py command, and update requirements.txt
  Makefile
  greenova/obligations/management/commands/import_obligations.py
  requirements.txt
Due: safety-check

update devcontainer config~
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post_start.sh
Due: none

Add README as description
  .devcontainer/Dockerfile
  .devcontainer/README.md
Due: none
