Repository enveng-group/dev_greenova: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, eslint

Path conditions:
  safety-check: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$

chore(devtools): update development tooling and configurations
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  eslint.config.js
  greenova/static/css/critical-styles.css
  package.json
  stylelint.config.js
Due: eslint

Refactor code quality tooling for improved CI/CD pipeline
  .bandit
  .banditrc
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/pylint.yml
  .github/workflows/super-linter.yml
  .pre-commit-config.yaml
  .pylintrc
  .vscode/extensions.json
  .vscode/settings.json
  conftest.py
  greenova/authentication/apps.py
  greenova/company/admin.py
  greenova/greenova/settings.py
  greenova/projects/views.py
  mypy.ini
  pyproject.toml
  tools/__init__.py
  tools/pre_commit/mock_settings.py
  tools/pre_commit/pre_commit_wrapper.py
  tools/scripts/__init__.py
  tools/scripts/run_mypy.py
  tools/scripts/run_mypy.sh
Due: safety-check

chore: update dependency management and development tooling
  .vscode/extensions.json
  .vscode/mcp.json
  .vscode/settings.json
  constraints.txt
  pyproject.toml
  requirements.txt
  scripts/pip_upgrade_no_deps.sh
  scripts/upgrade_npm_and_pip.sh
Due: none

refactor: clean up configuration files and update requirements
  .vscode/extensions.json
  .vscode/mcp.json
  .vscode/settings.json
  .vscode/tasks.json
  greenova/procedures/test_procedures.py
  requirements.txt
Due: safety-check

fix: update package versions in requirements.txt and clean up extensions.json
  .vscode/extensions.json
  requirements.txt
Due: none

Refactor and enhance feedback and chatbot modules, update configurations
  .pre-commit-config.yaml
  .pylintrc-django
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  greenova/__init__.py
  greenova/chatbot/data/__init__.py
  greenova/chatbot/data/chatbot.proto
  greenova/chatbot/management/commands/compile_proto.py
  greenova/chatbot/middleware.py
  greenova/chatbot/proto/__init__.py
  greenova/feedback/compile_proto.py
  greenova/feedback/extensions.py
  greenova/feedback/proto/feedback.proto
  greenova/feedback/proto_utils.py
  greenova/feedback/templates/feedback/components/bug_tracker_mini.html
  greenova/feedback/templates/feedback/components/mini_tracker_help.txt
  greenova/feedback/templates/feedback/components/protobuf_tools.html
  greenova/feedback/templates/feedback/email/confirmation.txt
  greenova/feedback/templates/feedback/email/status_update.txt
  greenova/feedback/templates/feedback/form/form.html
  greenova/feedback/templates/feedback/form/form.jinja
  greenova/feedback/templates/feedback/index.html
  greenova/feedback/templates/feedback/index.jinja
  greenova/feedback/templates/feedback/layouts/base.html
  greenova/feedback/templates/feedback/layouts/base.jinja
  greenova/feedback/templates/feedback/partials/bug_tracker.txt
  greenova/feedback/templates/feedback/partials/form.html
  greenova/feedback/templates/feedback/partials/success_message.html
  greenova/feedback/templates/feedback/status/status_messages.txt
  greenova/feedback/templatetags/__init__.py
  greenova/feedback/templatetags/feedback_tags.py
  greenova/feedback/urls.py
  greenova/feedback/views.py
  greenova/greenova/settings.py
  greenova/projects/templates/projects/projects_selector.html
  package.json
  requirements.txt
Due: safety-check
