Repository enveng-group/dev_greenova: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, eslint

Path conditions:
  safety-check: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$

Signed-off-by: Cameron Sims <cameronissacsims@gmail.com>
  greenova/mechanisms/templates/mechanisms/mechanism_charts.html
  greenova/procedures/templates/procedures/procedure_charts.html
  greenova/static/css/components/button.css
  greenova/static/js/components/foldable.js
  greenova/templates/base.html
Due: eslint

feat(theme): consolidate CSS into Tailwind for streamlined management
  .vscode/settings.json
  greenova/static/css/critical-styles.css
  greenova/static/css/styles.css
  greenova/static/css/vendor/pico-classless.min.css
  greenova/templates/base.html
  greenova/theme/static_src/postcss.config.js
  greenova/theme/static_src/src/base.css
  greenova/theme/static_src/src/components/breadcrumbs.css
  greenova/theme/static_src/src/components/button.css
  greenova/theme/static_src/src/components/card.css
  greenova/theme/static_src/src/components/charts.css
  greenova/theme/static_src/src/components/chat.css
  greenova/theme/static_src/src/components/company.css
  greenova/theme/static_src/src/components/filter.css
  greenova/theme/static_src/src/components/form.css
  greenova/theme/static_src/src/components/list.css
  greenova/theme/static_src/src/components/navigation.css
  greenova/theme/static_src/src/components/obligations.css
  greenova/theme/static_src/src/components/pagination.css
  greenova/theme/static_src/src/components/user-profile.css
  greenova/theme/static_src/src/defines/colours.css
  greenova/theme/static_src/src/defines/design.css
  greenova/theme/static_src/src/defines/pico-compat.css
  greenova/theme/static_src/src/styles.css
  greenova/theme/static_src/src/themes/dark.css
  greenova/theme/static_src/src/themes/light.css
  greenova/theme/static_src/src/vendor/pico-classless.min.css
  package.json
Due: eslint

chore(devtools): update development tooling and configurations
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  eslint.config.js
  package.json
  stylelint.config.js
Due: eslint

chore(devtools): update development tooling and configurations
  greenova/static/css/critical-styles.css
Due: none

Signed-off-by: Cameron Sims <cameronissacsims@gmail.com>
  greenova/mechanisms/templates/mechanisms/components/_charts.html
  greenova/mechanisms/templates/mechanisms/mechanism_charts.html
  greenova/procedures/templates/procedures/components/_procedure_charts.html
  greenova/procedures/templates/procedures/procedure_charts.html
  greenova/static/css/components/charts.css
  greenova/static/js/app.js
  greenova/static/js/components/scrollable.js
  greenova/templates/base.html
Due: eslint

Update .env.vault
  .env.vault
Due: none

fix: resolve tailwind configuration and missing styles.css issue
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  docs/TODO.md
  docs/resources/css/tailwind.md
  greenova/company/admin.py
  greenova/greenova/settings.py
  greenova/static/css/components/debug.css
  greenova/static/css/styles.css
  greenova/theme/static_src/package.json
  requirements.txt
Due: safety-check

feat(ui): implement responsive navigation and theme improvements
  docs/resources/py/django/django-cors-headers.md
  greenova/core/templates/core/components/main_navigation.html
  greenova/core/templates/core/components/theme_switcher.html
  greenova/core/views.py
  greenova/greenova/settings.py
  greenova/landing/templates/landing/index.html
  greenova/static/css/components/debug.css
  greenova/static/css/styles.css
  greenova/templates/base.html
Due: safety-check

chore: update devcontainer features and remove redundant prettier dependency
  .devcontainer/devcontainer.json
  docs/resources/py/jinga2.md
  package.json
Due: none

Consolidate and standardize development tooling across the Greenova project to improve developer experience and ensure consistent environments.
  .devcontainer/devcontainer.json
  .env.example
  .env.vault
  .gitattributes
  .github/.copilot-codeGeneration-instructions.md
  .github/.copilot-review-instructions.md
  .github/.copilot-test-instructions.md
  .github/copilot-instructions.md
  .gitignore
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
  docs/TODO.md
  greenova/greenova/settings.py
  requirements.txt
  setup.py
Due: safety-check

chore: update dev config and initialize app migrations
  .bandit
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
  mypy.ini
Due: none

feat: enhance data import process and add theme switcher to navigation
  .pre-commit-config.yaml
  Makefile
  greenova/core/templates/core/components/main_navigation.html
  greenova/core/views.py
  greenova/mechanisms/models.py
  greenova/obligations/management/commands/import_obligations.py
Due: safety-check

fix: resolve tailwind configuration and missing styles.css issue
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  docs/TODO.md
  docs/resources/css/tailwind.md
  greenova/greenova/settings.py
  greenova/static/css/components/debug.css
  greenova/static/css/styles.css
Due: safety-check

feat(ui): implement responsive navigation and theme improvements
  docs/resources/py/django/django-cors-headers.md
  greenova/core/templates/core/components/main_navigation.html
  greenova/core/templates/core/components/theme_switcher.html
  greenova/core/views.py
  greenova/greenova/settings.py
  greenova/static/css/components/debug.css
  greenova/static/css/styles.css
  greenova/templates/base.html
Due: safety-check

chore: update devcontainer features and remove redundant prettier dependency
  .devcontainer/devcontainer.json
  docs/resources/py/jinga2.md
Due: none

Consolidate and standardize development tooling across the Greenova project to improve developer experience and ensure consistent environments.
  .devcontainer/devcontainer.json
  .env.vault
  .gitattributes
  .github/.copilot-codeGeneration-instructions.md
  .github/.copilot-review-instructions.md
  .github/.copilot-test-instructions.md
  .github/copilot-instructions.md
  .gitignore
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  docs/TODO.md
  greenova/greenova/settings.py
  requirements.txt
  setup.py
Due: safety-check

chore: update dev config and initialize app migrations
  .bandit
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  mypy.ini
Due: none

feat: enhance data import process and add theme switcher to navigation
  .pre-commit-config.yaml
  greenova/core/templates/core/components/main_navigation.html
  greenova/core/views.py
Due: safety-check

Add untracked files to .gitignore
  .gitignore
Due: none

refactor(project): implement comprehensive project improvements
  .bandit
  .devcontainer/devcontainer.json
  .env.vault
  .gitattributes
  .github/.copilot-codeGeneration-instructions.md
  .github/.copilot-review-instructions.md
  .github/.copilot-test-instructions.md
  .github/copilot-instructions.md
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  docs/TODO.md
  docs/resources/css/tailwind.md
  docs/resources/py/django/django-cors-headers.md
  docs/resources/py/jinga2.md
  greenova/core/templates/core/components/theme_switcher.html
  greenova/core/views.py
  greenova/greenova/settings.py
  greenova/templates/base.html
  mypy.ini
  requirements.txt
  setup.py
Due: safety-check

Update Makefile, fix import_obligations.py command, and update requirements.txt
  Makefile
  greenova/obligations/management/commands/import_obligations.py
  requirements.txt
Due: safety-check

.devcontainer that can be opened and used
  .devcontainer/.dockerignore
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/constraints.txt
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/package.json
  .devcontainer/post_start.sh
  .devcontainer/requirements.txt
  .devcontainer/run.sh
Due: none

rebuild django-build command in Makefile and fix some syntax error
  Makefile
Due: none

fix some syntax error
  Makefile
Due: none
